<div class="club-info d-flex flex-row justify-content-center align-items-center" *ngIf="club$ | async as club">
  <!-- Logo -->
  <div class="logo-container">
    <img [appClubLogo]="club.logo" class="" alt="Club Logo">
  </div>

  <!-- -->
  <div class="info-container d-flex flex-column ms-3">
    <h5 class="">{{club.name}}</h5>
    <div class="">
      <small class="d-flex justify-content-between">
        <span>{{club.shortName}}</span>
        <span>
          <span class="" *ngIf="club.country | flag as flag">
            <span class="fi {{flag}}"></span>
          </span>
          {{club.country}}
        </span>
      </small>
    </div>
  </div>
</div>
