<ng-container *ngIf="club$ | async as club">
  <div class="card mb-3 club-card">
    <div class="row g-0">
      <!-- Logo -->
      <div class="col-md-4 logo-container">
        <img [src]="club.logo" *ngIf="club.logo; else genericLogo" class="img-fluid rounded-start" alt="Club Logo">

        <!-- Fallback logo-->
        <ng-template #genericLogo>
          <img src="/assets/generic-burgee.svg" class="img-fluid rounded-start generic-logo" alt="Club Logo">
        </ng-template>

        <!-- TODO: If uploading is allowed -->
        <!-- <span class="me-1 upload-button d-print-none" role="button" *ngIf="canEdit$ | async" (click)="onUploadClick()">
          <i class="bi bi-camera-fill"></i>
        </span> -->
      </div>

      <!-- Body -->
      <div class="col-md-8 body-container">
        <div class="card-body">
          <h5 class="card-title">{{club.name}}</h5>
          <p class="card-text text-muted">
            <small class="d-flex justify-content-between">
              <span>{{club.shortName}}, {{club.country}}</span>
            </small>
          </p>

          <!-- If uploading is allowed -->
          <span class="me-1 edit-button d-print-none" role="button" *ngIf="canEdit$ | async"
            (click)="onEditClick(club)">
            <i class="bi bi-pencil-fill"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
