.d-contents {
  display: contents;
}

.button-grid {
  display: flex;
  justify-content: space-around;

  > button {
    flex: 1 1 0;

    &:not(:first-child) {
      @extend .ms-4;
    }
  }
}

@media print {
  .p-print-0 {
    padding: 0 !important;
  }
}
