<ng-container *ngIf="sort$ | async as sort">

  <!-- Wrapper used for responsiveness, it's large -->
  <div class="table-wrapper table-responsive-lg" *ngIf="results$ | async as results"><!-- -->

    <!-- Results table -->
    <table class="table table-striped" [ngClass]="{'read-only': !canEdit}" *ngIf="results.length">
      <!-- This container is used to keep track of the columns -->
      <ng-container *ngIf="{cols: visibleColumns$ | async, sortIcon: sortIcon$ | async} as context">

        <!-- Column headers -->
        <thead class="sticky-lg-top">
          <tr class="user-select-none">
            <th *ngFor="let col of context.cols" role="button" (click)="onSortHeaderClick(col.field)">
              {{col.title}}
              <i class="ms-2" [ngClass]="context.sortIcon" *ngIf="col.field === sort.field"></i>
            </th>
            <th class="buttons d-print-none"></th>
          </tr>
        </thead>

        <!-- Results -->
        <tbody>
          <tr *ngFor="let item of results; trackBy: identifyWinner">
            <!-- This container is used as wrapper so he can easilty reference columns -->
            <ng-container *ngFor="let value of item.values; let i = index">
              <!-- The actual cell -->
              <td *ngIf="context.cols?.[i] as col" [ngClass]="{'empty': !value}" [attr.data-column]="col.title">
                {{value}}
                <i class="bi-lock" title="Not visible in public results"
                  *ngIf="col.field === 'year' && item.data.suppress">
                </i>
              </td>
            </ng-container>

            <!-- This is only if a winner is displayed (not a search result), and canEdit -->
            <td class="buttons d-print-none">
              <div class="btn-group-responsive-md  btn-group-sm" *ngIf="item.id">
                <button class="btn btn-outline-primary" (click)="onItemEditClick(item)">
                  <i class="bi-pencil-fill"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="onItemDeleteClick(item)">
                  <i class="bi-trash3-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>

</ng-container>
