<ng-container *ngIf="clubs$ | async as clubs; else loaderOrError">
  <!-- List of clubs -->
  <ul class="list-group" *ngIf="clubs.length; else noClubs">
    <a [routerLink]="['/clubs', item.id]" class="list-group-item list-group-item-action"
      *ngFor="let item of clubs; trackBy: identifyClub">

      <div class="d-flex justify-content-between align-items-center" (click)="onItemClick($event, item)">
        <!-- Name -->
        <div class="me-auto pe-2 flex-fill">
          <div class="fw-bold">{{item.data.name}}</div>
          <div class="text-muted">
            {{item.data.shortName}}, {{item.data.country}}
          </div>
        </div>

        <!-- Buttons -->
        <div class="btn-group btn-group-sm" *ngIf="item.canEdit">
          <button type="button" class="btn btn-outline-primary" (click)="onEditClubClick($event, item)">
            <i class=" bi-pencil-fill"></i>
          </button>
        </div>
      </div>
    </a>
  </ul>
</ng-container>

<ng-template #loaderOrError>
  <div class="container mw-sm p-3">
    <app-loader text="Loading clubs..."></app-loader>
  </div>
</ng-template>

<ng-template #noClubs>
  <div class="container mw-sm d-print-none">
    <app-alert>
      No matching clubs found.
    </app-alert>
  </div>
</ng-template>
