<div class="winners-container p-3 p-print-0">
  <!-- Edit controls -->
  <div class="edit-container mb-3 no-print" *ngIf="canEdit">
    <button class="btn btn-outline-primary" (click)="onAddWinnerClick()">
      <i class="bi-trophy-fill me-2"></i>Add new winner
    </button>
  </div>

  <!-- Results table -->
  <ng-container *ngIf="winners$ | async as winners">
    <app-winner-table [values]=" winners" [canEdit]="canEdit" *ngIf="winners.length; else noWinners">
    </app-winner-table>
  </ng-container>
</div>

<ng-template #noWinners>
  <div class="container mw-sm">
    <app-alert>
      No winners are available for this trophy.
    </app-alert>
  </div>
</ng-template>
