<div class="winners-container p-3" *ngIf="sort$ | async as sort">
  <div class="edit-container mb-3" *ngIf="canEdit">
    <button class="btn btn-outline-primary" (click)="onAddWinnerClick()">
      <i class="bi-trophy-fill me-2"></i>Add new winner
    </button>
  </div>

  <table class="table table-responsive table-sm table-striped">
    <thead>
      <tr>
        <th *ngFor="let col of visibleColumns$ | async" role="button" (click)="onSortHeaderClick(col.field)">
          {{col.title}}
          <i class="ms-2" [ngClass]="sortIcon$ | async" *ngIf="col.field === sort.field"></i>
        </th>
        <th class="buttons" *ngIf="canEdit"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of winners$ | async">
        <td *ngFor="let value of item.values">
          {{value}}
        </td>
        <td class="buttons" *ngIf="canEdit">
          <button class="btn btn-outline-primary btn-sm" (click)="onWinnerEditClick(item)">
            <i class="bi-pencil-fill"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm ms-2" (click)="onWinnerDeleteClick(item)">
            <i class="bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
