<ng-container *ngIf="trophy$ | async as trophy">
  <app-tab-container [(tabIndex)]="tabIndex">
    <!-- Winners -->
    <app-tab-page name="Winners ({{winners}})">
      <app-winners-list [clubId]="clubId" [trophyId]="trophyId" [canEdit]="canEdit$ | async"
        (countChange)="winners = $event">
      </app-winners-list>
    </app-tab-page>

    <!-- Info-->
    <app-tab-page name="Info">
      <pre>{{trophy | json}}</pre>
    </app-tab-page>

    <!-- Photos -->
    <app-tab-page name="Photos ({{files}})">
      <app-files-list [clubId]="clubId" [trophyId]="trophyId" [canEdit]="canEdit$ | async"
        (countChange)="files = $event">
      </app-files-list>
    </app-tab-page>
  </app-tab-container>
</ng-container>
