.file-container {
  border-color: var(--bs-blue);

  &.dragging {
    margin: -3px;
    border-radius: 10px;
    border: 3px solid var(--bs-blue);
    border-style: dashed;
  }

  .file-upload {
    position: relative;
    display: inline-block;

    input {
      position: absolute;
      display: none;
    }
  }

  .card {
    width: 302px;

    .card-img-top {
      background-color: var(--bs-card-cap-bg);
      width: 300px;
      height: 300px;
      object-fit: contain;
    }

    @media screen and (max-width: 576px) {
      width: 252px;
      .card-img-top {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media print {
  .file-container {
    .card {
      width: 252px;
      .card-img-top {
        width: 250px;
        height: 250px;
      }
    }
  }
}
