<div #fileDrop class="p-3 file-container" *ngIf="photos$ | async as photos" (dragenter)="onDragEnter($event)"
  (dragover)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

  <div class="edit-container pb-3" *ngIf="canEdit">
    <div class="file-upload">
      <label for="file-list-upload" class="btn btn-outline-primary">
        <i class="bi-camera-fill pe-2"></i>Upload Photos
      </label>

      <input #fileUpload class="form-control" type="file" id="file-list-upload" multiple
        accept="image/png, image/jpeg, image/gif" (change)="onFileChange($event)">
    </div>
  </div>

  <div class="row g-4 justify-content-center" *ngIf="photos.length; else noFiles">

    <!-- Photo list -->
    <div class="col-auto" *ngFor="let item of photos">
      <div class="card h-100">
        <img [src]="item.data.thumb || item.data.url" class="card-img-top" role="button" (click)="onFileClick(item)">

        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">
            {{item.data.description}}
          </h5>
        </div>

        <div class="card-footer d-flex flex-row justify-content-between align-items-center" *ngIf="canEdit">
          <small class="text-muted">Created: {{item.data.created | toDate | date}}</small>

          <div class="edit-buttons">
            <button class="btn btn-outline-primary btn-sm me-3" (click)="onEditFileClick(item)">
              <i class="bi-pencil-fill"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="onDeleteFileClick(item)">
              <i class="bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #noFiles>
  <div class="container mw-sm">
    <!-- CTA for uploading when there are no photos -->
    <app-alert icon="bi-camera-fill" *ngIf="canEdit; else noFilesPublic" role="button" (click)="triggerUpload($event)">
      Drag photos on to the page,<br>
      or use the button above to upload photos.
    </app-alert>
  </div>
</ng-template>

<ng-template #noFilesPublic>
  <app-alert>
    No files are available for this trophy.
  </app-alert>
</ng-template>
