.file-container {
  border-color: var(--bs-blue);

  &.dragging {
    --drag-margin: .5rem;
    --drag-border-width: 3px;

    margin: calc(0px - var(--drag-margin) - var(--drag-border-width));
    border: var(--drag-border-width) solid var(--bs-blue);
    padding: var(--drag-margin);
    border-radius: 10px;
    border-style: dashed;
  }

  .file-upload {
    position: relative;
    display: inline-block;

    input {
      position: absolute;
      display: none;
    }
  }

  .card {
    width: 302px;

    .card-img-top {
      background-color: var(--bs-card-cap-bg);
      width: 300px;
      height: 300px;
      object-fit: contain;
    }

    @media screen and (max-width: 576px) {
      width: 252px;

      .card-img-top {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media print {
  .file-container {
    .card {
      width: 252px;

      .card-img-top {
        width: 250px;
        height: 250px;
      }
    }
  }
}
