<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light px-2 d-print-none">
  <a class="navbar-brand" routerLink="/">Club Trophies</a>

  <button class="navbar-toggler" type="button" [attr.aria-expanded]="!isNavBarCollapsed" aria-label="Toggle navigation"
    (click)="isNavBarCollapsed = !isNavBarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavBarCollapsed">
    <!-- Links -->
    <ul class="navbar-nav me-auto">
      <!-- Clubs -->
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          Clubs
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a routerLink="/clubs/public" class="dropdown-item" routerLinkActive="active">
            Public clubs
          </a>
          <a routerLink="/clubs/mine" class="dropdown-item" routerLinkActive="active">
            My clubs
          </a>
          <a routerLink="/clubs/all" class="dropdown-item" routerLinkActive="active" *ngIf="isAdmin$ | async">
            All clubs
          </a>
          <ng-container *ngIf="user$ | async">
            <div class="dropdown-divider"></div>
            <span class="dropdown-item" role="button" (click)="onEditClubClick()">
              Add new club
            </span>
          </ng-container>
          <ng-container *ngIf="myClubs$ | async as mine">
            <div class="dropdown-divider" *ngIf="mine.length"></div>
            <a [routerLink]="['/clubs', item.id]" class="dropdown-item" routerLinkActive="active"
              *ngFor="let item of mine">
              {{item.name}}
            </a>
          </ng-container>
        </div>
      </li>

      <!-- Edit menu, only if we can edit and there is a clubId -->
      <ng-container *ngIf="canEdit$ | async">
        <li class="nav-item dropdown" ngbDropdown *ngIf="ids$ | async as ids">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"
            ngbDropdownToggle>
            Edit
          </a>

          <div class="dropdown-menu" ngbDropdownMenu>
            <!-- Edit club -->
            <span class="dropdown-item" role="button" (click)="onEditClubClick(ids.clubId)">
              Edit club
            </span>

            <!-- Update Logo -->
            <span class="dropdown-item" role="button" (click)="onUpdateLogoClick(ids.clubId)">
              Update burgee
            </span>

            <div class="dropdown-divider"></div>

            <!-- Add trophy -->
            <span class="dropdown-item" role="button" *ngIf="!ids.trophyId" (click)="onEditTrophyClick(ids)">
              Add new trophy
            </span>

            <ng-container *ngIf="ids.trophyId">
              <!-- Edit trophy -->
              <span class="dropdown-item" role="button" (click)="onEditTrophyClick(ids)">
                Edit trophy
              </span>
              <div class="dropdown-divider"></div>
              <!-- Add Winner -->
              <span class="dropdown-item" role="button" (click)="onAddWinnerClick(ids)">
                Add winner
              </span>
              <span class="dropdown-item" role="button" (click)="onAddFileClick(ids)">
                Add photo
              </span>
            </ng-container>
          </div>
        </li>

      </ng-container>

      <!-- Development user dropdown -->
      <li class="nav-item dropdown" ngbDropdown *ngIf="emails">
        <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" ngbDropdownToggle>
          Users
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" role="button" *ngFor="let item of emails" (click)="onEmailClick(item[0])"
            [ngClass]="{'active': email === item[0]}">
            {{item[1]}}
          </a>
        </div>
      </li>

      <!-- Admin -->
      <li class="nav-item" *ngIf="isAdmin$ | async">
        <a routerLink="/admin/users" class="nav-link">Users</a>
      </li>
    </ul>

    <!-- Profile section -->
    <ul class="navbar-nav ms-auto">
      <ng-container *ngIf="user$ | async; else signIn">
        <!-- TODO: Implment profile -->
        <!-- <li class="nav-item">
          <a routerLink="/auth/profile" class="nav-link">Profile</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/auth/sign-out" class="nav-link">Sign out</a>
        </li>
      </ng-container>

      <ng-template #signIn>
        <li class="nav-item">
          <a routerLink="/auth/sign-in" class="nav-link">Sign in</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>

<div class="page-content p-4">
  <router-outlet></router-outlet>
</div>
