<ng-container *ngIf="trophy?.name as trophyName">
  <nav class="mb-3 d-print-none" aria-label="breadcrumb" *ngIf="club?.name as clubName">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../../">
          <img [appClubLogo]="logo" class="me-1" *ngIf="club?.logo as logo">
          {{clubName}}
        </a>
      </li>
      <li class="breadcrumb-item">Trophies</li>
      <li class="breadcrumb-item active" aria-current="page">
        {{trophyName}}
      </li>
    </ol>
  </nav>
</ng-container>

<app-trophy-info [clubId]="clubId$ | async" [trophyId]="trophyId$| async" [tab]="tab$ | async"
  (clubChange)="onClubChange($event)" (trophyChange)="onTrophyChange($event)">
</app-trophy-info>
