<ng-container *ngIf="clubId$ | async as clubId">
  <div class="container mw-sm">
    <app-club-info [clubId]="clubId" (clubChange)="onClubChange($event)" (canEditChange)="canEdit = $event">
    </app-club-info>
  </div>

  <!-- Hide this so we don't have to refetch the list -->
  <div class="my-3" [ngClass]="{'d-none': trophyId$ | async}">
    <app-trophies-list [clubId]="clubId" [canEdit]="canEdit" (trophyClick)="onTrophyClick($event)">
    </app-trophies-list>
  </div>

  <ng-container *ngIf="trophyId$ | async as trophyId">
    <nav class="my-3 d-print-none" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="" (click)="onBackClick($event)">Back to All Trophies</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{trophy?.name}}
        </li>
      </ol>
    </nav>

    <app-trophy-info [clubId]="clubId" [trophyId]="trophyId" (trophyChange)="trophy = $event" tab="winners">
    </app-trophy-info>
  </ng-container>
</ng-container>
