<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span *ngIf="mode === 'logo'">Upload club burgee</span>
    <span *ngIf="mode === 'trophy-file'">Upload trophy photos</span>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <app-file-upload [clubId]="clubId" [trophyId]="trophyId" [mode]="mode" [files]="files" (cancelled)="dismiss()"
    (uploaded)="close($event)">
  </app-file-upload>
</div>
