rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  	// Anyone can request the logo
  	match /clubs/{clubId}/logo.png {
    	allow get: if true;
    }
 
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
