<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span *ngIf="winnerId; else newWinnerLabel">Edit winner</span>
    <ng-template #newWinnerLabel>Add new winner</ng-template>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <app-winner-editor [clubId]="clubId" [trophyId]="trophyId" [winnerId]="winnerId" [winner]="winner" [boatRef]="boatRef"
    (cancelled)="dismiss()" (saved)="close($event)">
  </app-winner-editor>
</div>
