<form class="input-group mb-3" [formGroup]="filter" *ngIf="showFilter">
  <span class="input-group-text d-none d-lg-inline">Filter</span>
  <input type="text" class="form-control" formControlName="name" placeholder="Filter trophy by name">

  <select class="form-select" formControlName="boatId">
    <option value="all">All boats</option>
    <option value="none">Pavilion</option>
    <option [ngValue]="item.boatId" *ngFor="let item of boats$ | async">{{item.boatName}}</option>
  </select>

  <button type="button" class="btn btn-dark" (click)="onResetFilterClick()">
    <span class="d-none d-lg-inline">Reset</span>
    <i class="bi-x-circle d-lg-none"></i>
  </button>
</form>

<ng-container *ngIf="trophies$ | async as trophies">
  <ul class="list-group">
    <a [routerLink]="['/clubs', clubId, 'trophies', item.id]" class="list-group-item list-group-item-action"
      *ngFor="let item of trophies">

      <div class=" d-flex justify-content-between align-items-center" (click)="onItemClick($event, item)">
        <!-- Name -->
        <div class="me-auto pe-2 flex-fill">
          <div class="fw-bold">{{item.data.name}}</div>
          <div class="text-pre-wrap trophy-conditions">{{item.data.conditions}}</div>
          <div class="text-muted" *ngIf="item.data | donated as donated">
            <small>Donated {{donated}}</small>
          </div>
          <div class="text-muted" *ngIf="item.data.boatName as boatName">
            <small>Current Boat Type: {{boatName}}</small>
          </div>
        </div>

        <!-- Buttons -->
        <div class="btn-group btn-group-sm" *ngIf="canEdit">
          <button type="button" class="btn btn-outline-primary me-2" (click)="onEditTrophyClick($event, item)">
            <i class=" bi-pencil-fill"></i>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="onAddWinnerClick($event, item)">
            <i class=" bi-trophy-fill"></i>
          </button>
        </div>
      </div>
    </a>
  </ul>

</ng-container>
