<form class="input-group mb-3" [formGroup]="filter" *ngIf="showFilter">
  <span class="input-group-text d-none d-lg-inline">Filter</span>
  <input type="text" class="form-control" formControlName="name" placeholder="Filter trophy by name">

  <select class="form-select" formControlName="boatName">
    <option value="all">All boats</option>
    <option value="none">Pavilion</option>
    <option [ngValue]="item" *ngFor="let item of boats$ | async">{{item}}</option>
  </select>

  <button type="button" class="btn btn-primary" (click)="onResetFilterClick()">
    <span class="d-none d-lg-inline">Clear</span>
    <i class="bi-x-circle d-lg-none"></i>
  </button>
</form>

<ng-container *ngIf="trophies$ | async as trophies; else loadingOrError">
  <ul class="list-group" *ngIf="trophies.length; else noTrophies">
    <a [routerLink]="['/clubs', clubId, 'trophies', item.id]" fragment="winners"
      class="list-group-item list-group-item-action" *ngFor="let item of trophies; trackBy: identifyTrophy">

      <div class=" d-flex justify-content-between align-items-center" (click)="onItemClick($event, item)">
        <!-- Name -->
        <div class="me-auto pe-2 flex-fill">
          <div class="fw-bold">{{item.data.name}}</div>
          <div class="text-pre-wrap trophy-conditions">{{item.data.conditions}}</div>
          <div class="trophy-info d-flex flex-column flex-md-row text-muted">
            <small *ngIf="item.data | donated:'by':'in' as donated">Donated {{donated}}</small>
            <small *ngIf="item.data.boatName as boatName">{{boatName}}</small>
          </div>
        </div>

        <!-- Buttons -->
        <div class="btn-group-responsive-md btn-group-sm" *ngIf="canEdit">
          <button type="button" class="btn btn-outline-primary" (click)="onEditTrophyClick($event, item.id)">
            <i class=" bi-pencil-fill"></i>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="onAddWinnerClick($event, item)">
            <i class=" bi-trophy-fill"></i>
          </button>
        </div>
      </div>
    </a>
  </ul>

</ng-container>

<ng-template #loadingOrError>
  <div class="container mw-sm p-3">
    <app-loader text="Loading trophies..."></app-loader>
  </div>
</ng-template>

<ng-template #noTrophies>
  <div class="container mw-sm d-print-none">
    <app-alert>
      No trophies matching the filter can be found.
    </app-alert>
  </div>
</ng-template>
