.trophy-conditions {
  // max-height: 6ex;
  // overflow: hidden;
  // mask-image: linear-gradient(to bottom, black 3ex, transparent 100%);
  // -webkit-mask-image: linear-gradient(to bottom, black 3ex, transparent 100%);
}

.trophy-info {
  > * {
    @media screen and (min-width: 768px) {
      &:not(:first-child) {
        margin-left: 0.25rem;

        &::before {
          content: "\2022"; // bullet
          padding-right: 0.25rem;
        }
      }
    }
  }
}
